/* 輪郭ボタン ホバー時 */
.wp-block-button.is-style-outline .wp-element-button:hover {
  background-color: var(--wp--preset--color--custom-gray-light);
}

/* 矢印付きボタン（デフォルト） */
.wp-block-button.is-style-default-arrow-button .wp-element-button {
  display: inline-flex;
  align-items: center;
  gap: var(--wp--preset--spacing--16);
  padding: var(--wp--preset--spacing--16) var(--wp--preset--spacing--40);
  border: 2px solid var(--wp--preset--color--custom-gray);
  background: var(--wp--preset--color--custom-white);
  color: var(--wp--preset--color--custom-black);

  &::after {
    content: "";
    flex-shrink: 0;
    width: 24px;
    aspect-ratio: 1;
    background: url("../image/block/button/default-arrow-button.svg") no-repeat
      center / contain;
  }

  &:hover {
    background: var(--wp--preset--color--custom-gray-light);

    &::after {
      background-image: url("../image/block/button/default-arrow-button--hover.svg");
    }
  }
}

/* 矢印付きボタン（プライオリティ） */
.wp-block-button.is-style-priority-arrow-button .wp-element-button {
  display: inline-flex;
  align-items: center;
  gap: var(--wp--preset--spacing--16);
  padding: var(--wp--preset--spacing--16) var(--wp--preset--spacing--40);
  border: 2px solid var(--wp--preset--color--custom-red);
  background: var(--wp--preset--color--custom-red);
  color: var(--wp--preset--color--custom-white);

  &::after {
    content: "";
    flex-shrink: 0;
    width: 24px;
    aspect-ratio: 1;
    background: url("../image/block/button/priority-arrow-button.svg") no-repeat
      center / contain;
  }

  &:hover {
    border-color: var(--wp--preset--color--custom-red-dark);
    background: var(--wp--preset--color--custom-red-dark);

    &::after {
      background-image: url("../image/block/button/priority-arrow-button--hover.svg");
    }
  }
}

/* カテゴリバッジ */
.wp-block-post-terms.is-style-category-badge {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.wp-block-post-terms.is-style-category-badge a:where(:not(.wp-element-button)) {
  display: block;
  color: var(--wp--preset--color--custom-white);
  font-size: var(--wp--preset--font-size--small);
  text-decoration: none;
  background: var(--wp--preset--color--custom-blue);
  border-radius: 4px;
  padding: 4px 8px;
}

.wp-block-post-terms.is-style-category-badge .wp-block-post-terms__separator {
  display: none;
}

/* お知らせ ページネーション */
.wp-block-query-pagination .wp-block-query-pagination-previous-arrow {
  margin-right: var(--wp--preset--spacing--30);
}

.wp-block-query-pagination .wp-block-query-pagination-next-arrow {
  margin-left: var(--wp--preset--spacing--30);
}

.wp-block-query-pagination-numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--wp--preset--spacing--10);
}

.page-numbers {
  display: grid;
  place-items: center;
  min-width: 32px;
  height: 32px;
  border-radius: 50%;
  background: var(--wp--preset--color--custom-gray-light);
  text-decoration: none;
}

.page-numbers.current {
  background: var(--wp--preset--color--custom-red);
  color: var(--wp--preset--color--custom-white);
  font-weight: 700;
}
